.book-details {
  font-family: 'Amatic SC', cursive;
  color: #C09081;
  font-size: 80px;
  line-height: 40px;
}

.book-info {
  background-color: seashell;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr .6fr .6fr;
  max-width: 1000px;
  margin: auto;
}

.text-box {
  background-color: white;
  border: 1px solid turquoise;
  margin: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.book-image {
  grid-area: 1 / 1 / 4 / 2;
  justify-self: end;
  margin-bottom: 20px;
  margin-top: 20px;
}

.title-and-author {
  border-radius: 10px;
  grid-area: 1 / 2 / 2 / 4;
}

.description {
  border-radius: 10px;
  display: flex;
  grid-area: 2 / 2 / 3 / 4;
}

.desciption-text {
  margin:auto;
}

.button-container {
  grid-area: 3 / 2 / 4 / 4;
  display: flex;
  margin: auto
}

.add-to-reading-list, .purchase {
  padding: 0.5em;
  font-size: 26px;
  color:  #C09081;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  background-color: transparent;
  border: solid 1px  #C09081;
  border-radius: 0.3em;
  box-shadow: 2px 2px 15px  #C09081;
  margin: 20px;
  width: 100px;
}

.active:hover {
  background-color: teal;
  color: white;
  border: solid 1px  white;
  box-shadow: 2px 2px 15px  whitesmoke;
}

.inactive {
  background-color: gray;
  color: white;
  border: solid 1px  white;
  box-shadow: 2px 2px 15px  whitesmoke;
}

@media only screen and (max-width: 800px) {

  .book-info {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    grid-template-columns: 1fr;
    /* min-width: 300px; */
  }

  .book-image {
    grid-area: 2 / 1 / 3 / 2;
    margin: auto;
  }

  .title-and-author {
    grid-area: 1 / 1 / 2 / 2;
  }

  .description {
    grid-area: 3 / 1 / 4 / 2;
  }

  .button-container {
    grid-area: 4 / 1 / 5 / 2;
  }
  .text-box {
    justify-self: center;
    width: 300px;
  }

}
