.App {
  background-color: seashell;
  text-align: center;
  min-width: 401px;
}

.browse-books {
  font-family: 'Amatic SC', cursive;
  color: #C09081;
  font-size: 80px;
  line-height: 40px;
}

.search-prompt {
  color: black;
  font-weight: 300;
  font-size: 22px;
}

.found-book {
  font-weight: 300;
}

.author {
  font-weight: 400;
}
