.books-container {
  display: grid;
  grid-gap: 35px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background: seashell;
}

.Book-card-image {
  height: 22em;
  width: auto;
}