.books-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.books-container {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  border-top: 2px solid teal;
  border-bottom: 2px solid teal;
  margin: 2%;
  margin-top: 0.5%;
  padding-top: 1%;
  padding-bottom: 2%;
  margin-bottom: 5%;
}

.books-list-name {
  color: teal;
  margin: 0;
  margin-left: 2%;
  font-size: 36px;
  font-weight: 300;
}