.browse-books {
    font-family: 'Amatic SC', cursive;
    color: #C09081;
    font-size: 46px;
    line-height: 0;
}

.books-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.books-container {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  border-top: 2px solid teal;
  border-bottom: 2px solid teal;
  margin: 2%;
  margin-top: 0.5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.books-list-name {
  margin: 0;
  margin-left: 2%;
}