.search-input {
  width: 25%;
  margin: .50vh;
  padding: .6vh;
  font-size: 1em;
  border-radius: 6px;
  font-weight: 300;
  align-self: center;
  border: 2px solid teal;
}

.search-input:hover,
.search-input:focus {
  background-color: #F4DBD8;
  color: black;
}

.search-button {
  align-self: center;
  width: 4.5%;
  margin: .5vh;
  padding: 4.8px;
  border: 2px solid teal;
  border-radius: 6px;
  background-color: teal;
  color: white;
  font-size: 17.2px;
}

.search-button:hover {
  color: white;
  border: 2px solid white;
  box-shadow: 2px 2px 15px  teal;
}