.book-card {
  padding-left:2.5%;
  padding-right: 2.5%;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 300px;
  border-right: rgb(190, 168, 167, 0.5) 1px solid 
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-text {
  font-family: 'Amatic SC', cursive;
  align-self: left;
  font-size: 28px;
  margin: 0;
  margin-left: 20px;
}

.title-text {
  margin-top: 10px;
  font-size: 32px;
}

.author-text {
  font-size: 28px;
} 

.Book-card-image {
  width: 240px;
  height: 380px;
  padding: 20px;
}

.reading-list-button {
  margin: 0;
  margin-top: 2%;
  padding: 0.5em;
  font-size: 26px;
  color:  #C09081;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  background-color: transparent;
  border: solid 1px  #C09081;
  border-radius: 0.3em;
  box-shadow: 2px 2px 15px  #C09081;
}

.Book-card-image:hover {
  background-color: #C09081;
  transform: scale(1.1);
  box-shadow: 15px 0px 15px 0px #C09081;
  margin: 19px;
  padding: 1px;
}
