.book-card-section {
  background: white;
  border: 1px solid turquoise;
  border-radius: 10px;
}

.active {
  color: green;
}

.inactive {
  color: red;
}

.Book-card-image:hover {
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
