.book-card-section {
  border: 1px solid turquoise;
  background: white;
}

.active {
  color: green;
}

.inactive {
  color: red;
}

.Book-card-image:hover {
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
